<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>Main</title>
    </head>
    <body class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <!-- <a class="navbar-brand" href="#">
                <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
                Home
            </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new' %}">New Entry</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'imp' %}">Import</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'liste_import' %}">Liste des imports</a>
                </li>
              </ul>
              
            </div>
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'logout' %}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">LogOut</button></a>
            </div>
        </nav>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="card" style="margin-top: 5vh;">
            <div class="card-body">
              <a href="{% url 'imp' %}" style="float: right;"><button class="btn btn-outline-secondary my-2 my-sm-0">Import</button></a>  
              <a href="{% url 'new' %}" style="float: right;margin-right: 2vh;"><button class="btn btn-outline-primary my-2 my-sm-0">New entry</button></a>
                <h5 class="card-title">Liste des acces Anydesk</h5>
                <h6 class="card-subtitle mb-2 text-muted">Derniere mise a jour  {% now "H:i:s - e - d/m/Y" %}</h6>
                
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">anydesk</th>
                        <th scope="col">session</th>
                        <th scope="col">anypwd</th>
                        <th scope="col">winpwd</th>
                        <th scope="col">tel</th>
                        <th scope="col">tel2</th>
                        <th scope="col">Action</th>
                        <!-- <th scope="col">ID</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for c in clients%}
                        <tr>
                            <td><a href="{% url 'detail' c.id %}">{{ c.name }}</a></td>
                            <td>{{ c.anydesk }}</td>
                            <td>{{ c.session }}</td>
                            <td>{{ c.anypwd }}</td>
                            <td>{{ c.winpwd }}</td>
                            <td>{{ c.tel }}</td>
                            <td>{{ c.tel2 }}</td>
                            <td>
                              {% if request.user == c.createdby %}
                              <a href="{% url 'edit' c.id %}"><button type="button" class="btn btn-outline-success" >Edit</button></a>
                              <a href="{% url 'delete' c.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                              {% endif %}
                            </td>
                            <!-- <td style="text-align: center;">
                              
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>
                                  
                                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this entry?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>" {{ c.name }} " is about to be deleted.</p>
                                          <p>Code anydesk : {{ c.anydesk }}</p>
                                          <p>Created on : {{ c.createdon }} by {{ c.createdby }}</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-outline-seconday" data-dismiss="modal">Close</button>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td> -->
                            <!-- <td>{{ c.id }}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div>
            
        </div>
    </body>
    
</html>